GCP_PROJECT_ID=your-project-id
GCS_BUCKET=your-bucket-name
BQ_DATASET_RAW=amazon_books_raw
BQ_DATASET_CURATED=amazon_books_curated
BQ_DATASET_SERVING=amazon_books_serving
GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account.json